 <!-- menu-menu.ejs -->
 <div class="list-group">
   <a href="/products" class="list-group-item list-group-item-action">Samsa Menu</a>
 
   <% menus.forEach(function (menu) { %>
       <a href="/products/menu/<%= menu.menuid %>" 
          class="list-group-item list-group-item-action 
          <%= selectedMenu == menu.menuid ? 'active' : '' %>">
          <%= menu.menuname %>
       </a>
   <% }) %>
 </div>